body {


background-image: url(image/dota5.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
background-position: center center;


}





.e{
border-radius: 20%

}
.r {
border-radius: 50%

}






h1{
color:green;	
text-decoration:underline overline;
text-decoration-color:#FFFF00;
}
h2{
color:greenyellow;
text-decoration:underline overline;
text-decoration-color:#FF69B4
}
p{
color:white;
text-decoration:underline;
text-decoration-color:aqua;
}
li{
color:white;
text-decoration:underline;
text-decoration-color:aqua;
}
strong{
color:white;
text-decoration:underline;
text-decoration-color:aqua;
}
